@charset "UTF-8";

::-webkit-scrollbar {
    height: 0px;
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color1);
    border-radius: 6px;
}


@media screen and (max-width: 2000px){
   
    #div_categorias1_corpo{
        // background: rgb(255,49,49);
        // background: linear-gradient(180deg, rgba(255,49,49,0.5646551724137931) 0%, rgba(131,10,147,0) 100%);
        max-width: 1000px;
        width: 100%;
        margin: auto;
        display: flex;
        padding-top: 60px;
        overflow-y: auto;
        border-radius: 10px 10px 0px 0px;
        border: 1px solid rgba(0, 0, 0, 0.045);
        #div_categoria_filha1{
            width: 150px;
            height: 150px;
            margin: 40px 20px 40px 20px;
            border-radius: 100px;
            border: 1px solid var(--redColor);
            box-shadow: 0.1px 0.1px 1px 0.1px var(--redColor);
            text-align: center;
            font-weight: bold;
            background-color: white;
            #link_categoria{
                text-decoration: none;
                
            }
            p{
                margin-top: 8px;
                font-size: 1.5rem;
                color: black;
            }
            #img_banner_categoria{
                width: 140px;
                height: 140px;
                border-radius: 100px;
            }
        }

        .rolagemLateral {
           
            border: none;
            color: black;
            font-size: 48px;
            cursor: pointer;
            user-select: none;
        }
    
        .left-lateral {
        height: 100%;
        background-color: transparent;
        color: rgba(255, 0, 0, 0.573);
        font-size: 4rem;
        font-weight: bold;
        }
        .left-lateral:hover {
            color: red;
            cursor: pointer;
            }

        .rigth-lateral {
            height: 100%;
            background-color: transparent;
            color: rgba(255, 0, 0, 0.573);
            font-size: 4rem;
            font-weight: bold;
        }
        .rigth-lateral:hover{
            color: red;
            cursor: pointer;
        }
        #div-left-todosCursos{
            height: 300px;
            position:absolute;
            left:0px;
            background-color: transparent;
            border-radius: 0px 8px 8px 0px;
        }
        #div-rigth-todosCursos{
            height: 300px;
            position:absolute;
            right: 0px;
            background-color: transparent;
            border-radius: 8px 0px 0px 8px;
        }
    }
}