@charset "UTF-8";

@media screen and (max-width:2000px) {
    #headerBauruFoods {
        max-width: 2000px;
        width: 100%;
        height: 80px;
        position: fixed;
        background-color: #f0f0f0;
        color: var(--redColor);

        #header_bauru_filha {
            width: 80%;
            margin: auto;
            text-align: center;
            display: flex;
            #button_sair_header{
                margin-top: 20px;
                #button_sair{
                    float: right;
                    color: var(--redColor);
                }
                #button_sair:hover{
                    cursor: pointer;
                    font-size: 1.1rem;
                }
            }
            #logoHeaderBauruFoods {
                width: 100%;
                img {
                    width: 100px;
                }
            }

            #ver_carrinho_header {
                width: 100%;
                margin-top: 15px;

                button {
                    background-color: var(--redColor);
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding: 10px;
                    border-radius: 10px 0px;
                    border: 2px solid var(--redColor);
                    color: white;
                    border: 2px solid black;
                }

                button:hover {
                    background-color: var(--redColor);
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    #modal_principal{
        max-width: 500px;
        width: 100%;
        margin: auto;
        text-align: center;
        #modal_cabecalho{
            max-width: 1000px;
            width: 100%;
            height: 100px;
            display: flex;
            .titulo_fechar_modal{
                width: 100%;
                text-align: center;
                margin-top: 20px;
                    img{
                        width: 100px;
                    }
                h2{
                    width: 100%;
                    font-size: 2rem;
                    color: var(--redColor);
                }
                #FecharModal{
                   
                    font-size: 3rem;
                    color: var(--redColor);
                    float: right;
                }
                #FecharModal:hover{
                    font-size: 3.5rem;
                    color: black;
                    cursor: pointer;
                    
                }
            }
        }

        #div_modal_produtos{
            width: 100%;
            #div_filha_produtos{
                display: flex;
                width: 100%;
                text-align: center;
                margin-top: 20px;
                border: 5px solid rgba(255, 0, 0, 0.507);
                border-radius: 10px 0px;
                #div_img_produtos{
                    width: 30%;
                    img{
                        width: 100%;
                        max-height: 100px;
                        margin-top: 5px;        
                    }
                }
                #div_titulo_contador{
                    width: 100%;
                    
                    h1{
                        font-size: 1.3rem;
                        color: var(--redColor);
                        margin-bottom: 20px;
                    }
                    p{
                        color: var(--redColor);
                        font-size: 1.3rem;
                        font-weight: bold;
                        margin: 0px 30px;
                        
                    }
                    #numeroCarrinho{
                        border: 1px solid var(--redColor);
                        padding: 0px 30px;
                        border-radius: 10px 0px;
                        background-color: var(--redColor);
                        color: white;
                    }
                    #div_qtd_carrinho{
                        width: 100%;
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        button{
                            font-size: 1.3rem;
                            padding: 0px 20px;
                            border:1px solid var(--redColor);
                            border-radius: 10px 0px;
                        }
                        button:hover{
                            background-color: rgba(0, 0, 0, 0.298);
                            cursor: pointer;
                            border: 2px solid black;
                        }
                        #lixeira_modal_header{
                            color: black;
                            font-size: 1.3rem;
                            margin-left: 50px;
                           }
                           #lixeira_modal_header:hover{
                            color: var(--redColor);
                            font-size: 1.5rem;
                            cursor: pointer;
                           }
                    }
                }
            }
        }
        #div_modal_valorTotal{
            width: 100%;
            justify-content: center;
            display: flex;
            #valor_total{
                margin-top: 40px;
                font-size: 2rem;
            }
            #p2{
                margin-top: 40px;
                font-size: 2rem;
                font-weight: bold;
                margin-left: 20px;
            }
        }
        #button_modal_finalizarCompra{
            margin-top: 40px;
            margin-bottom: 20px;
            font-size: 1.3rem;
            font-weight: bold;
            color: green;
            border: 2px solid green;
            border-radius: 10px 0px ;
            padding: 15px;
        }
        #button_modal_finalizarCompra:hover{
            cursor: pointer;
            background-color: green;
            color: black;
            border: 2px solid black;
        }
    }
}